# SF Salaries Exercise

** Import pandas as pd.**

In [3]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [4]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [52]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [88]:

avg = sal['BasePay']
avg.mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [89]:
Overtime = sal['OvertimePay']
Overtime.max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [36]:
sal[sal['EmployeeName'].str.contains('JOSEPH DRISCOLL')][['JobTitle']]

                     JobTitle
24  CAPTAIN, FIRE SUPPRESSION

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [65]:
sal[sal['EmployeeName'].str.contains('JOSEPH DRISCOLL')]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [77]:

m =sal['TotalPayBenefits'].max()
sal.loc[sal['TotalPayBenefits'] == m]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [80]:
#Yes, He paid with negative value. Thats strange 
min = sal['TotalPayBenefits'].min()
sal.loc[sal['TotalPayBenefits'] == min]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [9]:

year = (sal['Year'] >= 2011) & (sal['Year'] <=2014)  #use boolean to represent start and end
sal.loc[year]['BasePay'].mean() # select data within start and end and applying mean to the BasePay

66325.4488404877

** How many unique job titles are there? **

In [23]:
unique = sal['JobTitle'].unique() #array of unique titles
len(unique)  #Length of array = no. of job titles

#OR

sal['JobTitle'].nunique() # Easier and faster

2159

** What are the top 5 most common jobs? **

In [47]:

sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [26]:
year2013 = sal.loc[sal['Year'] == 2013] #Get the dataset in 2013 first
year2013['JobTitle'].nunique()

1051

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [93]:
len(sal[sal['JobTitle'].str.contains('Chief')])

423

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [108]:
sal['title_len'] = sal['JobTitle'].apply(len)

sal[['title_len' , 'TotalPayBenefits']].corr() #No correlation as value of x,y is neg and y,x is neg too

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!